@font-face {
    font-family: "Fira Code";
    src: url('https://raw.githubusercontent.com/MinimumADHD/gitFontsArchive/main/Fira%20Code/woff/FiraCode-SemiBold.woff') format("woff");
}

@tailwind {

}

body {
    margin: 0;
    padding: 0;
}

.editor_header {
    background-color: #000000;
}

.main_page {
    background-color: #000000;
}

.header_button {
    text-align: right;
}

.header_button object {
    width: 1.5%;
    height: 1.5%;
    color: #ffffff;
}

.header_button input {
    border: none;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 70%;
    font-family: "Fira Code",  "Monospace";
    color: #ffffff;
}

.header_button object:hover, input:hover {
    color: #bebebe;
}